RewriteEngine On
RewriteRule ^(.*)$ https://www.czastc.pages.dev [NC]
RewriteCond %{HTTP_HOST} ^czastc.pages.dev/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]
ErrorDocument 400 /400
ErrorDocument 401 /401
ErrorDocument 403 /403
ErrorDocument 404 /404
ErrorDocument 500 /500
ErrorDocument 502 /502
ErrorDocument 503 /503
