@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    background: linear-gradient(-90deg, #EF764F, #EA2F7e, #21A2C5, #2DD9A8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.header {
    display: flex;
    justify-content: center;
}
.title {
    font-family: "Roboto", cursive;
    font-weight: 500;
    color: white;
    font-size: 180px;
    margin: 0.4rem;
    padding-top: 10.8rem;
}
.title:hover {
    transform: scale(1.1);
    transition: all 800ms;
}
@keyframes gradient {
    0% {
        background-position: 10% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.footer {
    display: flex;
    justify-content: center;
}
.copyright {
    font-family: "Roboto", cursive;
    font-weight: 500;
    color: white;
    font-size: 30px;
    padding-top: 8rem;
}
