::-webkit-scrollbar {
	width: 0px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555555;
}
* {
	position: relative;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
html {
	background-color: #000000;
}
body {
	overflow: hidden;
	color: #ffffff80;
	font-family: "Russo One", arial, sans-serif;
	line-height: 1.25;
	letter-spacing: 0.06em;
}
.hide {
	opacity: 0;
	visibility: hidden;
}
.remove {
	display: none !important;
}
.blur {
	filter: blur(12px);
}
.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading-init {
	width: 100%;
	align-self: center;
	text-align: center;
	text-transform: uppercase;
}
.loading-init__header {
	font-size: 2.2em;
}
.loading-init__status {
	margin-top: 1em;
	font-size: 0.8em;
	opacity: 0.75;
}
.stage-container {
	overflow: hidden;
	box-sizing: initial;
	border: 1px solid #222;
	margin: -1px;
}
@media (max-width: 840px) {
	.stage-container {
		border: none;
		margin: 0;
	}
}
.canvas-container {
	width: 100%;
	height: 100%;
	transition: filter 0.3s;
}
.canvas-container canvas {
	position: absolute;
	mix-blend-mode: lighten;
	transform: translateZ(0);
}
.controls {
	position: absolute;
	top: 0;
	width: 100%;
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
	transition: opacity 0.3s, visibility 0.3s;
}
@media (min-width: 840px) {
	.controls {
		visibility: visible;
	}
	.controls.hide:hover {
		opacity: 1;
	}
}
.menu {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.42);
	transition: opacity 0.3s, visibility 0.3s;
}
.menu__inner-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: opacity 0.3s;
}
.menu__header {
	margin-top: 5px;
	margin-bottom: 8px;
	font-size: 2em;
	text-transform: uppercase;
}
.menu__subheader {
	margin-bottom: 5px;
	font-size: 0.86em;
	opacity: 0.8;
}
.menu form {
	width: 100%;
	max-width: 400px;
	padding: 0 10px;
	margin-right: 80px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.menu .form-option {
	display: flex;
	align-items: center;
	margin: 16px 0;
	transition: opacity 0.3s;
}
.menu .form-option label {
	display: block;
	width: 50%;
	padding-right: 12px;
	text-align: right;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.menu .form-option--select select {
	display: block;
	width: 50%;
	height: 30px;
	font-size: 1rem;
	font-family: "Russo One", arial, sans-serif;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: 0.06em;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.menu .form-option--select select option {
	background-color: black;
}
.menu .form-option--checkbox input {
	display: block;
	width: 26px;
	height: 26px;
	margin: 0;
	opacity: 0.5;
}
@media (max-width: 840px) {
	.menu .form-option select,
	.menu .form-option input {
		outline: none;
	}
}
.close-menu-btn {
	position: absolute;
	top: 0;
	right: 0;
}
.btn {
	opacity: 0.16;
	width: 50px;
	height: 50px;
	display: flex;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	transition: opacity 0.3s;
}
.btn--bright {
	opacity: 0.5;
}
@media (min-width: 840px) {
	.btn:hover {
		opacity: 1;
	}
	.btn--bright:hover {
		opacity: 1;
	}
}
.btn svg {
	display: block;
	margin: auto;
}
.help-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	transition-property: visibility;
	transition-duration: 0.25s;
}
.help-modal__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition-property: opacity;
	transition-timing-function: ease-in;
	transition-duration: 0.25s;
}
.help-modal__dialog {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	max-height: calc(100vh - 100px);
	margin: 10px;
	padding: 20px;
	border-radius: 0.3em;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transform: scale(0.9, 0.9);
	transition-property: opacity, transform;
	transition-timing-function: ease-in;
	transition-duration: 0.25s;
}
@media (min-width: 840px) {
	.help-modal__dialog {
		font-size: 1.25rem;
		max-width: 500px;
	}
}
.help-modal__header {
	font-size: 1.75em;
	text-transform: uppercase;
	text-align: center;
}
.help-modal__body {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin: 1em 0;
	padding: 1em 0;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.75);
}
.help-modal__close-btn {
	flex-shrink: 0;
	outline: none;
	border: none;
	border-radius: 2px;
	padding: 0.25em 0.75em;
	margin-top: 0.36em;
	font-family: "Russo One", arial, sans-serif;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	letter-spacing: 0.06em;
	background-color: rgba(255, 255, 255, 0.25);
	transition: color 0.3s, background-color 0.3s;
}
.help-modal__close-btn:hover,
.help-modal__close-btn:active,
.help-modal__close-btn:focus {
	color: #fff;
	background-color: #09f;
}
.help-modal.active {
	visibility: visible;
	transition-duration: 0.4s;
}
.help-modal.active .help-modal__overlay {
	opacity: 1;
	transition-timing-function: ease-out;
	transition-duration: 0.4s;
}
.help-modal.active .help-modal__dialog {
	opacity: 1;
	transform: scale(1, 1);
	transition-timing-function: ease-out;
	transition-duration: 0.4s;
}
.about {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.2s ease;
}
.about .links {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
}
.about .logo {
    width: 40px;
    height: 40px;
    z-index: 9;
    background-image: url(/assets/images/icons/link.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.16;
    transition: all 1s 0.2s ease, opacity 0.3s;
    bottom: 0;
    right: 0;
}
.about .logo:hover {
	opacity: 1;
}
.about .social {
    opacity: 0;
    right: 0;
    bottom: 0;
}
.about .social .icon {
    width: 100%;
    height: 100%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: flex;
    transition: all 0.2s ease, background-color 0.4s ease;
    opacity: 0;
    border-radius: 100%;
}
.about .social.fireworks {
    transition: all 0.8s ease;
}
.about .social.fireworks .icon {
    background-image: url(/assets/images/icons/fireworks.svg);
}
.about .social.homepage {
    transition: all 0.8s ease;
}
.about .social.homepage .icon {
    background-image: url(/assets/images/icons/homepage.svg);
}
.about .social.contact {
    transition: all 0.8s ease;
}
.about .social.contact .icon {
    background-image: url(/assets/images/icons/contact.svg);
}
.about .social.x {
    transition: all 0.8s ease;
}
.about .social.x .icon {
    background-image: url(/assets/images/icons/x.svg);
}
.about .social.facebook {
    transition: all 0.8s ease;
}
.about .social.facebook .icon {
    background-image: url(/assets/images/icons/facebook.svg);
}
.about .social.github {
    transition: all 0.8s ease;
}
.about .social.github .icon {
    background-image: url(/assets/images/icons/github.svg);
}
.about .social.instagram {
    transition: all 0.8s ease;
}
.about .social.instagram .icon {
    background-image: url(/assets/images/icons/instagram.svg);
}
.about .social.stackoverflow {
    transition: all 0.8s ease;
}
.about .social.stackoverflow .icon {
    background-image: url(/assets/images/icons/stackoverflow.svg);
}
.about .social.pinterest {
    transition: all 0.8s ease;
}
.about .social.pinterest .icon {
    background-image: url(/assets/images/icons/pinterest.svg);
}
.about .social.mastodon {
    transition: all 0.8s ease;
}
.about .social.mastodon .icon {
    background-image: url(/assets/images/icons/mastodon.svg);
}
.about .social.youtube {
    transition: all 0.8s ease;
}
.about .social.youtube .icon {
    background-image: url(/assets/images/icons/youtube.svg);
}
.about .social.discord {
    transition: all 0.8s ease;
}
.about .social.discord .icon {
    background-image: url(/assets/images/icons/discord.svg);
}
.about .social.slack {
    transition: all 0.8s ease;
}
.about .social.slack .icon {
    background-image: url(/assets/images/icons/slack.svg);
}
.about .social.hashnode {
    transition: all 0.8s ease;
}
.about .social.hashnode .icon {
    background-image: url(/assets/images/icons/hashnode.svg);
}
.about .social.reddit {
    transition: all 0.8s ease;
}
.about .social.reddit .icon {
    background-image: url(/assets/images/icons/reddit.svg);
}
.about:hover {
    width: 235px;
    height: 235px;
    transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
    opacity: 0.9;
    transition: all 0.6s ease;
}
.about:hover .social {
    opacity: 1;
}
.about:hover .social .icon {
    opacity: 0.9;
}
.about:hover .social:hover {
    background-size: 28px;
}
.about:hover .social:hover .icon {
    background-size: 65%;
    opacity: 1;
}
.about:hover .social.fireworks {
    bottom: 65px;
    right: 0;
    transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.fireworks .icon:hover {
    background-color: #cb0404;
}
.about:hover .social.homepage {
    bottom: 47.25px;
    right: 47.25px;
    transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.homepage .icon:hover {
    background-color: #ead112;
}
.about:hover .social.contact {
    bottom: 0;
    right: 65px;
    transition: all 0.3s 0.3s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.contact .icon:hover {
    background-color: #3af115;
}
.about:hover .social.x {
    bottom: 0;
    right: 130px;
    transition: all 0.3s 0.45s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.x .icon:hover {
    background-color: #000000;
}
.about:hover .social.facebook {
    bottom: 47.25px;
    right: 113.75px;
    transition: all 0.3s 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.facebook .icon:hover {
    background-color: #1877F2;
}
.about:hover .social.github {
    bottom: 85.05px;
    right: 85.05px;
    transition: all 0.3s 0.75s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.github .icon:hover {
    background-color: #000000;
}
.about:hover .social.instagram {
    bottom: 113.75px;
    right: 47.25px;
    transition: all 0.3s 0.9s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.instagram .icon:hover {
    background-color: #C13584;
}
.about:hover .social.stackoverflow {
    bottom: 130px;
    right: 0;
    transition: all 0.3s 1.05s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.stackoverflow .icon:hover {
    background-color: #F48024;
}
.about:hover .social.pinterest {
    bottom: 195px;
    right: 0;
    transition: all 0.3s 1.2s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.pinterest .icon:hover {
    background-color: #BD081C;
}
.about:hover .social.mastodon {
    bottom: 178.75px;
    right: 47.25px;
    transition: all 0.3s 1.35s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.mastodon .icon:hover {
    background-color: #6364FF;
}
.about:hover .social.youtube {
    bottom: 151.25px;
    right: 85.05px;
    transition: all 0.3s 1.5s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.youtube .icon:hover {
    background-color: #FF0000;
}
.about:hover .social.discord {
    bottom: 121.65px;
    right: 121.65px;
    transition: all 0.3s 1.65s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.discord .icon:hover {
    background-color: #5865F2;
}
.about:hover .social.slack {
    bottom: 85.05px;
    right: 151.85px;
    transition: all 0.3s 1.8s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.slack .icon:hover {
    background-color: #2EB67D;
}
.about:hover .social.hashnode {
    bottom: 47.25px;
    right: 178.75px;
    transition: all 0.3s 1.95s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.hashnode .icon:hover {
    background-color: #2363EB;
}
.about:hover .social.reddit {
    bottom: 0;
    right: 195px;
    transition: all 0.3s 2.1s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.reddit .icon:hover {
    background-color: #FF5700;
}