@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");
*{margin:0;padding:0;}
body{overflow:hidden;}
.about {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.2s ease;
}
.about .links {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
}
.about .logo {
    width: 40px;
    height: 40px;
    z-index: 9;
    background-image: url(../images/link.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    transition: all 1s 0.2s ease;
    bottom: 0;
    right: 0;
}
.about .social {
    opacity: 0;
    right: 0;
    bottom: 0;
}
.about .social .icon {
    width: 100%;
    height: 100%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: flex;
    transition: all 0.2s ease, background-color 0.4s ease;
    opacity: 0;
    border-radius: 100%;
}
.about .social.fireworks {
    transition: all 0.8s ease;
}
.about .social.fireworks .icon {
    background-image: url(../images/fireworks.svg);
}
.about .social.homepage {
    transition: all 0.8s ease;
}
.about .social.homepage .icon {
    background-image: url(../images/homepage.svg);
}
.about .social.contact {
    transition: all 0.8s ease;
}
.about .social.contact .icon {
    background-image: url(../images/contact.svg);
}
.about .social.x {
    transition: all 0.8s ease;
}
.about .social.x .icon {
    background-image: url(../images/x.svg);
}
.about .social.facebook {
    transition: all 0.8s ease;
}
.about .social.facebook .icon {
    background-image: url(../images/facebook.svg);
}
.about .social.github {
    transition: all 0.8s ease;
}
.about .social.github .icon {
    background-image: url(../images/github.svg);
}
.about .social.instagram {
    transition: all 0.8s ease;
}
.about .social.instagram .icon {
    background-image: url(../images/instagram.svg);
}
.about .social.stackoverflow {
    transition: all 0.8s ease;
}
.about .social.stackoverflow .icon {
    background-image: url(../images/stackoverflow.svg);
}
.about .social.pinterest {
    transition: all 0.8s ease;
}
.about .social.pinterest .icon {
    background-image: url(../images/pinterest.svg);
}
.about .social.mastodon {
    transition: all 0.8s ease;
}
.about .social.mastodon .icon {
    background-image: url(../images/mastodon.svg);
}
.about .social.youtube {
    transition: all 0.8s ease;
}
.about .social.youtube .icon {
    background-image: url(../images/youtube.svg);
}
.about .social.discord {
    transition: all 0.8s ease;
}
.about .social.discord .icon {
    background-image: url(../images/discord.svg);
}
.about .social.slack {
    transition: all 0.8s ease;
}
.about .social.slack .icon {
    background-image: url(../images/slack.svg);
}
.about .social.hashnode {
    transition: all 0.8s ease;
}
.about .social.hashnode .icon {
    background-image: url(../images/hashnode.svg);
}
.about .social.reddit {
    transition: all 0.8s ease;
}
.about .social.reddit .icon {
    background-image: url(../images/reddit.svg);
}
.about:hover {
    width: 235px;
    height: 235px;
    transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
    opacity: 1;
    transition: all 0.6s ease;
}
.about:hover .social {
    opacity: 1;
}
.about:hover .social .icon {
    opacity: 0.9;
}
.about:hover .social:hover {
    background-size: 28px;
}
.about:hover .social:hover .icon {
    background-size: 65%;
    opacity: 1;
}
.about:hover .social.fireworks {
    bottom: 65px;
    right: 0;
    transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.fireworks .icon:hover {
    background-color: #cb0404;
}
.about:hover .social.homepage {
    bottom: 47.25px;
    right: 47.25px;
    transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.homepage .icon:hover {
    background-color: #ead112;
}
.about:hover .social.contact {
    bottom: 0;
    right: 65px;
    transition: all 0.3s 0.3s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.contact .icon:hover {
    background-color: #3af115;
}
.about:hover .social.x {
    bottom: 0;
    right: 130px;
    transition: all 0.3s 0.45s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.x .icon:hover {
    background-color: #000000;
}
.about:hover .social.facebook {
    bottom: 47.25px;
    right: 113.75px;
    transition: all 0.3s 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.facebook .icon:hover {
    background-color: #1877F2;
}
.about:hover .social.github {
    bottom: 85.05px;
    right: 85.05px;
    transition: all 0.3s 0.75s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.github .icon:hover {
    background-color: #000000;
}
.about:hover .social.instagram {
    bottom: 113.75px;
    right: 47.25px;
    transition: all 0.3s 0.9s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.instagram .icon:hover {
    background-color: #C13584;
}
.about:hover .social.stackoverflow {
    bottom: 130px;
    right: 0;
    transition: all 0.3s 1.05s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.stackoverflow .icon:hover {
    background-color: #F48024;
}
.about:hover .social.pinterest {
    bottom: 195px;
    right: 0;
    transition: all 0.3s 1.2s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.pinterest .icon:hover {
    background-color: #BD081C;
}
.about:hover .social.mastodon {
    bottom: 178.75px;
    right: 47.25px;
    transition: all 0.3s 1.35s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.mastodon .icon:hover {
    background-color: #6364FF;
}
.about:hover .social.youtube {
    bottom: 151.25px;
    right: 85.05px;
    transition: all 0.3s 1.5s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.youtube .icon:hover {
    background-color: #FF0000;
}
.about:hover .social.discord {
    bottom: 121.65px;
    right: 121.65px;
    transition: all 0.3s 1.65s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.discord .icon:hover {
    background-color: #5865F2;
}
.about:hover .social.slack {
    bottom: 85.05px;
    right: 151.85px;
    transition: all 0.3s 1.8s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.slack .icon:hover {
    background-color: #2EB67D;
}
.about:hover .social.hashnode {
    bottom: 47.25px;
    right: 178.75px;
    transition: all 0.3s 1.95s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.hashnode .icon:hover {
    background-color: #2363EB;
}
.about:hover .social.reddit {
    bottom: 0;
    right: 195px;
    transition: all 0.3s 2.1s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.reddit .icon:hover {
    background-color: #FF5700;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input,
body {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
ul:focus,
li:focus,
button:focus,
a:focus,
i:focus,
input:focus,
body:focus {
    outline: 0;
}
body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: "Barlow", sans-serif;
    background: #003b28;
}
.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000001a;
    border-radius: 100%;
    backdrop-filter: blur(5px);
}
.logo img {
    width: 55%;
    height: 55%;
    opacity: 0.8;
}
nav .menu {
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
    z-index: 3;
}
nav .menu .website_name {
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    background: #ffffff;
    padding: 4px 8px;
    border-radius: 2px;
    opacity: 0.5;
    transition: all 0.4s ease;
    cursor: pointer;
}
nav .menu .website_name:hover {
    opacity: 1;
}
nav .menu .menu_links {
    transition: all 0.4s ease;
    opacity: 0.7;
}
nav .menu .menu_links:hover {
    opacity: 1;
}
@media screen and (max-width: 799px) {
    nav .menu .menu_links {
        display: none;
    }
}
nav .menu .menu_links .link {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 50px;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.3s 0.2s ease;
}
nav .menu .menu_links .link:last-child {
    margin-right: 0;
}
nav .menu .menu_links .link:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 4px;
    background: linear-gradient(90deg, #8ff1e9, #ffd187);
    bottom: -10px;
    border-radius: 4px;
    transition: all 0.4s cubic-bezier(0.82, 0.02, 0.13, 1.26);
    left: 100%;
}
nav .menu .menu_links .link:hover {
    opacity: 1;
    color: #ffd187;
}
nav .menu .menu_links .link:hover:before {
    width: 40px;
    left: 0;
}
nav .menu .menu_icon {
    width: 40px;
    height: 40px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media screen and (max-width: 799px) {
    nav .menu .menu_icon {
        display: flex;
    }
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow-x: hidden;
}
.wrapper .container {
    margin: 0 auto;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.wrapper .container .scene {
    position: absolute;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
}
.wrapper .container .one,
.wrapper .container .two,
.wrapper .container .three,
.wrapper .container .circle,
.wrapper .container .status_code {
    width: 60%;
    height: 60%;
    top: 20% !important;
    left: 20% !important;
    min-width: 400px;
    min-height: 400px;
}
.wrapper .container .one .content,
.wrapper .container .two .content,
.wrapper .container .three .content,
.wrapper .container .circle .content,
.wrapper .container .status_code .content {
    width: 600px;
    height: 600px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: content 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}
@keyframes content {
    0% {
        width: 0;
    }
}
.wrapper .container .one .content .piece,
.wrapper .container .two .content .piece,
.wrapper .container .three .content .piece,
.wrapper .container .circle .content .piece,
.wrapper .container .status_code .content .piece {
    width: 200px;
    height: 80px;
    display: flex;
    position: absolute;
    border-radius: 80px;
    z-index: 1;
    animation: pieceLeft 8s cubic-bezier(1, 0.06, 0.25, 1) infinite both;
}
@keyframes pieceLeft {
    50% {
        left: 80%;
        width: 10%;
    }
}
@keyframes pieceRight {
    50% {
        right: 80%;
        width: 10%;
    }
}
@media screen and (max-width: 799px) {
    .wrapper .container .one,
    .wrapper .container .two,
    .wrapper .container .three,
    .wrapper .container .circle,
    .wrapper .container .status_code {
        width: 90%;
        height: 90%;
        top: 5% !important;
        left: 5% !important;
        min-width: 280px;
        min-height: 280px;
    }
}
@media screen and (max-height: 660px) {
    .wrapper .container .one,
    .wrapper .container .two,
    .wrapper .container .three,
    .wrapper .container .circle,
    .wrapper .container .status_code {
        min-width: 280px;
        min-height: 280px;
        width: 60%;
        height: 60%;
        top: 20% !important;
        left: 20% !important;
    }
}
.wrapper .container .text {
    width: 60%;
    height: 40%;
    min-width: 400px;
    min-height: 500px;
    position: absolute;
    margin: 40px 0;
    animation: text 0.6s 1.8s ease backwards;
    transform: translateY(50px);
}
@keyframes text {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
}
@media screen and (max-width: 799px) {
    .wrapper .container .text {
        min-height: 400px;
        height: 80%;
    	transform: translateY(-20px);
    }
}
.wrapper .container .text article {
    width: 500px;
    position: absolute;
    bottom: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 799px) {
    .wrapper .container .text article {
        width: 100%;
    }
}
.wrapper .container .text article p {
    color: white;
    font-size: 18px;
    letter-spacing: 0.6px;
    margin-bottom: 40px;
    text-shadow: 6px 6px 10px #243e33;
}
.wrapper .container .text article button {
    height: 40px;
    padding: 0 30px;
    margin-bottom: 10px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 15px 20px #184f3980;
    z-index: 3;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
}
.wrapper .container .text article button:hover {
    box-shadow: 0px 10px 10px -10px rgba(24, 79, 58, 0.5);
    transform: translateY(5px);
    background: #1fbe32;
    color: #ffffff;
}
.wrapper .container .status_code {
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    animation: anime404 0.6s cubic-bezier(0.3, 0.8, 1, 1.05) both;
    animation-delay: 1.2s;
}
@media screen and (max-width: 799px) {
    .wrapper .container .status_code {
        font-size: 100px;
    }
}
@keyframes anime404 {
    0% {
        opacity: 0;
        transform: scale(10) skew(20deg, 20deg);
    }
}
.wrapper .container .status_code:nth-of-type(2) {
    color: #184f3c;
    z-index: 1;
    animation-delay: 1s;
    filter: blur(10px);
    opacity: 0.8;
}
.wrapper .container .circle {
    position: absolute;
}
.wrapper .container .circle:before {
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: #0b978987;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 5px 20px 40px rgba(24, 79, 61, 0.25), inset 5px 0px 5px rgba(36, 62, 52, 0.3), inset 5px 5px 20px rgba(36, 62, 54, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);
    animation: circle 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}
@keyframes circle {
    0% {
        width: 0;
        height: 0;
    }
}
@media screen and (max-width: 799px) {
    .wrapper .container .circle:before {
        width: 400px;
        height: 400px;
    }
}
.wrapper .container .one .content:before {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: #45e3a4b3;
    border-radius: 100%;
    box-shadow: inset 5px 20px 40px rgba(24, 79, 61, 0.25), inset 5px 0px 5px rgba(36, 62, 52, 0.3), inset 5px 5px 20px rgba(36, 62, 55, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);
    animation: circle 0.8s 0.4s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}
@media screen and (max-width: 799px) {
    .wrapper .container .one .content:before {
        width: 300px;
        height: 300px;
    }
}
.wrapper .container .one .content .piece {
    background: linear-gradient(90deg, #e6e02b, #e244a3);
}
.wrapper .container .one .content .piece:nth-child(1) {
    right: 15%;
    top: 18%;
    height: 30px;
    width: 120px;
    animation-delay: 0.5s;
    animation-name: pieceRight;
}
.wrapper .container .one .content .piece:nth-child(2) {
    left: 15%;
    top: 45%;
    width: 150px;
    height: 50px;
    animation-delay: 1s;
    animation-name: pieceLeft;
}
.wrapper .container .one .content .piece:nth-child(3) {
    left: 10%;
    top: 75%;
    height: 20px;
    width: 70px;
    animation-delay: 1.5s;
    animation-name: pieceLeft;
}
.wrapper .container .two .content .piece {
    background: #54f266;
}
.wrapper .container .two .content .piece:nth-child(1) {
    left: 0%;
    top: 25%;
    height: 40px;
    width: 120px;
    animation-delay: 2s;
    animation-name: pieceLeft;
}
.wrapper .container .two .content .piece:nth-child(2) {
    right: 15%;
    top: 35%;
    width: 180px;
    height: 50px;
    animation-delay: 2.5s;
    animation-name: pieceRight;
}
.wrapper .container .two .content .piece:nth-child(3) {
    right: 10%;
    top: 80%;
    height: 20px;
    width: 160px;
    animation-delay: 3s;
    animation-name: pieceRight;
}
.wrapper .container .three .content .piece {
    background: linear-gradient(90deg, #390ed5, #d06ddf);
}
.wrapper .container .three .content .piece:nth-child(1) {
    left: 25%;
    top: 35%;
    height: 20px;
    width: 80px;
    animation-name: pieceLeft;
    animation-delay: 3.5s;
}
.wrapper .container .three .content .piece:nth-child(2) {
    right: 10%;
    top: 55%;
    width: 140px;
    height: 40px;
    animation-name: pieceRight;
    animation-delay: 4s;
}
.wrapper .container .three .content .piece:nth-child(3) {
    left: 40%;
    top: 68%;
    height: 20px;
    width: 80px;
    animation-name: pieceLeft;
    animation-delay: 4.5s;
}